/* body */
.gradio-container {
    background: rgb(32, 34, 34);
    max-width: 100% !important;
}

#component-1 {
    margin-bottom: 50px;
}

#component-8 {
    margin-top: 50px;
}

#component-10 {
    width: 50%;
    margin: 0 auto;
}

button.lg.svelte-cmf5ev {
    width: 50%;
    display: block;
    margin: 0 auto;
}

/* Description yazısı :
This tool provides you to get important parts of your long video.

You can get specific things by using smart search ability.

For example, movements of a man who wear red cloth can be searched and tool gives the exact time.
*/
span.md.svelte-1k4ye9u {
    text-align: center;
}

span.md.svelte-1k4ye9u p {
    font-size: 20px;
    color: white;
}



